@import url(./assets/reset.css);

:root {
  --color_title: #080808;
  --color_title_rgb: 8,8,8;
  --color_body: #101010;
  --color_body_rgb: 16,16,16;
  --color_caption1: #404040;
  --color_caption1_rgb: 64,64,64;
  --color_caption2: #606060;
  --color_caption2_rgb: 96,96,96;
  --color_search: #000;
  --color_search_rgb: 0,0,0;
  --color_border_out: #e3e5e8;
  --color_border_out_rgb: 227,229,232;
  --color_border_in: #ebebeb;
  --color_border_in_rgb: 235,235,235;
  --color_border_in_divider: #ebebeb;
  --color_border_in_divider_rgb: 235,235,235;
  --color_border_in_exception: #ebebeb;
  --color_border_in_exception_rgb: 235,235,235;
  --color_button_border: #dadcdf;
  --color_button_border_rgb: 218,220,223;
  --color_dot_divider: #d3d5d7;
  --color_dot_divider_rgb: 211,213,215;
  --color_block_bg: #fff;
  --color_block_bg_rgb: 255,255,255;
  --color_board_bg: #f4f6fa;
  --color_board_bg_rgb: 244,246,250;
  --color_option_bg: #f5f7f8;
  --color_option_bg_rgb: 245,247,248;
  --color_login_bg: #fafbfb;
  --color_login_bg_rgb: 250,251,251;
  --color_menu_widget_bg: #fff;
  --color_menu_widget_bg_rgb: 255,255,255;
  --color_setting_bg: #fff;
  --color_setting_bg_rgb: 255,255,255;
  --color_button1_bg: #fff;
  --color_button1_bg_rgb: 255,255,255;
  --color_button2_bg: #fff;
  --color_button2_bg_rgb: 255,255,255;
  --color_news: #3a67ea;
  --color_news_rgb: 58,103,234;
  --color_news_econ_stay: #909aab;
  --color_news_econ_stay_rgb: 144,154,171;
  --color_news_econ_down: #4f67d6;
  --color_news_econ_down_rgb: 79,103,214;
  --color_live_news_price: #f4361e;
  --color_live_news_price_rgb: 244,54,30;
  --color_enter: #e538e2;
  --color_enter_rgb: 229,56,226;
  --color_enter_bg: #f2f1fb;
  --color_enter_bg_rgb: 242,241,251;
}
html {
  font-size: 10.5px;
  line-height: 10.5px;
  letter-spacing: -0.4px;
}
#wrap {
  text-align: center;
}
#wrap-center {
  display: inline-block;
  width: 1280px;
}

header {
  position: relative;
  height: 64px;
  text-align: left;
}
header #header-hamburger, #header-pay, #header-notice {
  display: inline-block;
  position: absolute;
  top: 18px;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
}
header #header-hamburger {
  left: -10px;
}
header #header-pay {
  right: 42px;
  padding: 10px 8px;
}
header #header-notice {
  right: -10px;
}
header #header-hamburger:hover::before, #header-pay:hover::before, #header-notice:hover::before {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color_option_bg);
  content: '';
}
header #header-hamburger > div, #header-pay > div, #header-notice > div {
  position: relative;
  z-index: 1;
  width: 26px;
  height: 26px;
  background-image: url(./assets/images/sp_main.png);
  background-size: 422px 405px;
}
header #header-hamburger > div {
  background-position: -335px -284px;
}
header #header-pay > div {
  width: 30px;
  background-position: -31px -316px;
}
header #header-notice > div {
  background-position: -364px -27px;
}

#search > form {
  display: inline-flex;
  width: 706px;
  height: 58px;
  border: 1px solid #03c75a;
  border-radius: 33px;
  text-align: left;
}
#search > form:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
}
#search > form:focus-within #search-svg::after {
  display: block;
  position: absolute;
  top: 20px;
  right: 0;
  width: 1px;
  height: 20px;
  background-color: #e8ecee;
  content: '';
}
#search-svg {
  display: inline-block;
  position: relative;
  padding: 17px 17px 17px 27px;
  margin-right: 12px;
}
#search-svg svg {
  width: 24px;
  height: 24px;
  fill: #03c75a;
}
#search-input {
  width: 480px;
  height: 100%;
  padding: 17px 0px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color_search);
  line-height: 24px;
  font-size: 2rem;
  font-weight: bold;
}
#search-input::placeholder {
  color: transparent;
  font-weight: normal;
}
#search-input:focus::placeholder {
  color: #e4e4e4;
}
#search-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
#search-keyboard, #search-recent, #search-button {
  border: none;
  background: transparent;
  cursor: pointer;
}
#search-button {
  padding: 17px 27px 16px 10px;
}
#search-keyboard::before, #search-recent::before, #search-button::before {
  display: block;
  background-image: url(./assets/images/sp_main.png);
  background-size: 422px 405px;
  content: '';
}
#search-keyboard::before {
  width: 24px;
  height: 16px;
  background-position: -50px -270px;
}
#search-keyboard:hover::before {
  display: block;
  width: 24px;
  height: 16px;
  background-image: url(./assets/images/sp_main.png);
  background-position: -270px -234px;
  background-size: 422px 405px;
  content: '';
}
#search-recent::before {
  width: 10px;
  height: 6px;
  background-position: -412px -352px;
}
#search-button::before {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: -364px -132px;
}

nav > ul {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  line-height: 20px;
  font-size: 1.4rem;
}
nav li {
  display: flex;
  justify-content: center;
  width: 64px;
  margin-left: 4px;
}
nav li:nth-of-type(1) {
  margin-left: 0;
}

nav li:nth-of-type(10) {
  width: 64px;
  height: 48px;
}
nav a {
  text-decoration: none;
}
nav a:visited {
  color: black;
}
nav .nav-img {
  display: block;
  position: relative;
}
nav .nav-img::before {
  position: absolute;
  top: -2px;
  left: -3px;
  width: 54px;
  height: 54px;
  background-image: url(./assets/images/sp_main.png);
  background-position: 0px -128px;
  background-size: 422px 405px;
  content: '';
}
nav a:hover .nav-img::before {
  position: absolute;
  top: -3px;
  left: -5px;
  width: 58px;
  height: 58px;
  background-image: url(./assets/images/sp_main.png);
  background-position: -142px 0px;
  background-size: 422px 405px;
  content: '';
}
nav li:nth-of-type(10) a:hover .nav-img::before {
  background-position: 0px -69px;
}
nav .nav-img::after {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 44px;
  height: 44px;
  margin: 2px;
  background-image: url(./assets/images/sp_main.png);
  background-size: 422px 405px;
  content: '';
}
nav li:nth-of-type(1) .nav-img::after {
  background-position: -250px -90px;
}
nav li:nth-of-type(2) .nav-img::after {
  background-position: -250px 0px;
}
nav li:nth-of-type(3) .nav-img::after {
  background-position: -201px -98px;
}
nav li:nth-of-type(4) .nav-img::after {
  background-position: -90px -209px;
}
nav li:nth-of-type(5) .nav-img::after {
  background-position: 0px -209px;
}
nav li:nth-of-type(6) .nav-img::after {
  background-position: -180px -209px;
}
nav li:nth-of-type(7) .nav-img::after {
  background-position: -45px -209px;
}
nav li:nth-of-type(8) .nav-img::after {
  width: 48px;
  height: 48px;
  margin: 0;
  background-position: -201px 0px;
}
nav li:nth-of-type(9) .nav-img::after {
  background-position: -225px -209px;
}
nav li:nth-of-type(10) .nav-img::after {
  background-position: -250px -135px;
}
nav li:nth-of-type(10) a:hover .nav-img::after {
  width: 22px;
  height: 6px;
  margin: 21px 13px;
  background-position: -201px -172px;
}
nav .nav-text {
  display: inline-block;
  width: 100%;
  margin-top: 7px;
}

main {
  display: flex;
  height: 2000px;
  margin-top: 50px;
}
main section[id^=main] {
  border-radius: 8px;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0,0,0,.04);
}
main aside[id$=ad] {
  border-radius: 8px;
  background-color: gray;
}
main #main-left-ad {
  height: 130px;
}
main #main-right-ad {
  height: 240px;
  margin-top: 16px;
}
main #main-left {
  width: 830px;
  margin-right: 30px;
}
main #main-news-stand {
  height: 426px;
  margin-top: 16px;
}
main #main-right {
  width: 420px;
}
main #main-login {
  height: 164px;
}

.blind {
  /* 스크린 리더기를 위한 설정 / display: none; 하면 화면에 text가 안 보이지만 스크린 리더기도 읽지 못 한다. */
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}